* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Orienta", sans-serif;
    font-display: optional;

}

.primeiro-fundo {
    background-image: linear-gradient(to bottom, #E6D8C7, #00000000);
    height: 500px;
    width: 100%;
}

.img-logo {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);

}

.menu nav ul li {
    margin: 0 15px;
    display: flex;
    text-align: center;
}

.menu nav ul li a {
    text-decoration: none;
    color: #AC0420;
    font-size: 18px;
}

.menu nav ul li a:hover {
    color: #E8042A;
}

.imgFundo1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(#E6D8C7, #00000000, #D9D9D9),
        url('/img/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: -1;
    border-bottom: 100px solid #D9D9D9;
}

.fraseInicial {
    font-size: 44px;
    color: #ffffff;
    width: 400px;
    position: absolute;
    left: 20%;
}

.botaoCatalogo {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    width: 30%;
    padding: 10px;
    background-color: #ac0420b0;
    background-size: 20px;
}

.beneficios {
    background-color: #d9d9d900;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -5%);
    padding: 10px;
    align-items: center;
    word-wrap: break-word;
}

.beneficios p {
    width: 10%;
}

.beneficios img {
    width: 60px;
}

.tituloCategorias {
    color: #AC0420;
    font-size: 44px;
    position: absolute;
    top: 115%;
    left: 24%;
}

.categoriasSection {
    position: absolute;
    top: 123%;
    left: 24%;
}

.categorias {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.categoria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    border: 3px solid #AC0420;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.categoria-item p {
    color: #AC0420;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.fundoCinzaBranco {
    background:
        linear-gradient(#D9D9D9, #ffffff, #D9D9D9);
    display: flex;
    width: 100%;
    height: 2000px;
    position: absolute;
    top: 95%;
    z-index: -1;
}

.grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 149%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px;
    width: 100%;
    justify-items: center;
}

.grid-item {
    width: 250px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.colecoesTitulo {
    color: #AC0420;
    font-size: 44px;
    position: absolute;
    top: 150%;
    left: 24%;
}

.botaoCatalogo2 {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    width: 30%;
    padding: 10px;
    background-color: #ac0420b0;
    background-size: 20px;
    position: absolute;
    top: 2400px;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -5%);
}

.sectionSobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 70px;
    background-color: #E6D8C7;
    position: absolute;
    top: 2500px;
}

.sectionSobre img {
    display: flex;
    width: 20%;
    position: relative;
    left: 20%;
    margin-top: 40px;
}

.sectionSobre h1 {
    color: #AC0420;
    font-size: 44px;
    position: absolute;
    left: 24%;
    margin-bottom: 20px;
}

.sectionSobre p {
    color: #AC0420;
    font-size: 20px;
    width: 56%;
    margin-top: 75px;
    margin-bottom: 20px;
}
